<div>
<h1>Machine res:</h1>
<form novalidate [ngrxFormState]="(formState$ | async)">
  <div class="form-group">
  <label for="Arabica"></label>
    Arabica:
    <input type="number"
    class="form-control form-control-sm"
    id="Arabica"
    [ngrxFormControlState]="(formState$ | async).controls.arabica">
  </div>
  <div class="form-group">
  <label for="Arabusta"></label>
    Arabusta:
    <input type="number"
    class="form-control form-control-sm"
    id="Arabusta"
    [ngrxFormControlState]="(formState$ | async).controls.arabusta">
  </div>
  <div class="form-group">
  <label for="Cream"></label>
    Cream:
    <input type="number"
    class="form-control form-control-sm"
    id="Cream"
    [ngrxFormControlState]="(formState$ | async).controls.cream">
  </div>
  <div class="form-group">
  <label for="Sugar"></label>
    Sugar:
    <input type="number"
    class="form-control form-control-sm"
    id="Sugar"
    [ngrxFormControlState]="(formState$ | async).controls.sugar">
  </div>
  <div class="form-group">
  <label for="Plastic"></label>
    Plastic cups:
    <input type="number"
    class="form-control form-control-sm"
    id="Plastic"
    [ngrxFormControlState]="(formState$ | async).controls.plasticCup">
  </div>
  <div class="form-group">
  <label for="Cardboard"></label>
    Cardboard cups:
    <input type="number"
    class="form-control form-control-sm"
    id="Cardboard"
    [ngrxFormControlState]="(formState$ | async).controls.cardCup">
  </div>
</form>
</div>
